body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(60, 60, 60);
  }
  #on-off {
    margin-top: 20px;
  }

  .on {
    background-image: url(lampada-de-ideia.png);
   
  }